#indexmenu{
    text-align: center;
    position: relative;
    padding: 2%;
    background-color: #7AB1DB;
    top: 10%;
}
.accion,.col{
    margin-right: 0;
    margin-left: 0;
    width: 25%;
    min-width: 150px;
}
#accion1,#accion2{
    width: 60%;
    margin: auto;
}