@import "./cssreset.css";
@import "./bootstrap/css/bootstrap-grid.min.css";
@import "./bootstrap/css/bootstrap-reboot.min.css";
@import "./bootstrap/css/bootstrap.min.css";
@import "textostyle.scss";
@import "indexstyle.scss";
@import "archivostyle.scss";

body{
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: 100%;
}
.container{
    height: 100%;
}
form{
    position: relative;
    background-color: #7AB1DB;
    top: 10%;
}
input{
    position: relative;
    margin-bottom: 2%;
}
#submit,button{
    background-color: #016FB9 !important;
}
button{
    margin-bottom: 2%;
}
#instrucciones{
    font-size: 80%;
}
/*

Palette:
#7AB1DB
#000000
#0E3B43
#FFFFFF
016FB9

*/