<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/js/jsaes.js"></script>
</head>
<body>
    <div class="container">
        <form class="p-3" onsubmit="validar();return false;" method="post" action="/write">
            <label for="mensaje">Inserte el texto a cifrar</label><br>
            <input required id="mensaje" type="text" name="text" placeholder="Escriba su mensaje"><br>
            <label for="password">Inserte la contraseña</label><br>
            <input required id="password" type="password" name="password" placeholder="Contraseña para cifrar"><br>
            <input id="despliega" type="checkbox" class="mr-1" onclick="desplegar()"><label for="despliega">Desplegar caracteres</label><br>
            <input id="submit" class="btn btn-primary" type="submit" value="Cifrar">
            <button type="button" class="btn btn-primary" onclick="location.href = '/';">Regresar</button>
            <p id="instrucciones">La contraseña debe ser de una longitud mínima de 8 caracteres, y debe incluir una letra minúscula, una mayúscula, un digito y un carácter especial</p>
        </form>
    </div>
    <script>
        function cifrar() {
            "use strict";
            //Inicializa
            AES_Init();
            
            //Lee el mensaje y lo trata como arreglo de chars en código UTF-16
            var text = document.getElementById("mensaje").value;
            
            var block = new Array(text.length);
            
            for(var i = 0;i<block.length;i++) {
                block[i] = text.charAt(i).charCodeAt(0);
            }
            
            //Generar llave de 32 bytes (para AES-256) a partir de password
            var password = document.getElementById("password").value;

            if (password.length > 32) {
                password = password.substring(0,32);
            }
            
            var key = new Array(32);
            
            for(var i = 0;i<password.length;i++) {
                key[i] = password.charAt(i).charCodeAt(0);
            }

            AES_ExpandKey(key);
            
            //Cifra
            AES_Encrypt(block, key);
            
            var encryptedText = window.btoa(block);
            
            document.getElementById("mensaje").value = encryptedText;
            
            //Finaliza
            AES_Done();
        }
    </script>
    <script>
        function validar() {
            var text = document.getElementById("password").value;
            
            var longitud = false;
            var minuscula = false;
            var mayuscula = false;
            var digito = false;
            var especial = false;
            
            if (text.length > 7) {
                longitud = true;
            }
            
            if (/[a-z]/.test(text)) {
                minuscula = true;
            }
            
            if (/[A-Z]/.test(text)) {
                mayuscula = true;
            }
            
            if (/[0-9]/.test(text)) {
                digito = true;
            }
            
            if (/^[a-zA-Z0-9]*$/.test(text) == false) {
                especial = true;
            }
            
            if (longitud && minuscula && mayuscula && digito && especial) {
                cifrar();
            }
            else{
                alert("La contraseña debe ser de una longitud mínima de 8 caracteres, y debe incluir una letra minúscula, una mayúscula, un digito y un carácter especial");
            }
        }
    </script>
    <script>
        function desplegar() {
            "use strict";
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</body>
</html>