<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/js/jsaes.js"></script>
    <script src="../static/js/jquery.js"></script>
</head>
<body>
    <div class="container">
        <form class="p-3" onsubmit="validar();return false;" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="archivo">Seleccione un archivo para descifrar</label>
                        <input type="file" id="archivo" accept="text/plain" class="form-control-file">
                    </div>
                </div>
            </div>
            <input id="borrar" type="checkbox" class="mr-1" onclick="mostrar()"><label for="borrar">Borrar archivo original</label><br>
            <div id="borrar-instruccion" style="display: none">
                <label for="ruta">Introduzca la ruta completa del archivo a borrar</label><br>
                <input id="ruta" type="text" name="text" placeholder="Ej. /Users/.../archivo.txt o C:/.../archivo.txt"><br>
            </div><br>
            <label for="password">Inserte la contraseña</label><br>
            <input required id="password" type="password" name="password" placeholder="Contraseña para descifrar"><br>
            <input id="despliega" type="checkbox" class="mr-1" onclick="desplegar()"><label for="despliega">Desplegar caracteres</label><br>
            <label for="destino">Introduzca la ruta completa de dónde se guardará el nuevo archivo.<br>La carpeta por defecto es el directorio raíz de este programa.</label><br>
            <input id="destino" type="text" name="destino" placeholder="Ej. /Users/.../Desktop o C:/.../Desktop"><br>
            <input id="submit" class="btn btn-primary" type="submit" value="Descifrar">
            <button type="button" class="btn btn-primary" onclick="location.href = '/';">Regresar</button>
            <p id="instrucciones">La contraseña debe ser de una longitud mínima de 8 caracteres, y debe incluir una letra minúscula, una mayúscula, un digito y un carácter especial</p>
        </form>
    </div>
    <script>
        function descifrar(text) {
            "use strict";
            //Inicializa
            AES_Init();
            
            //Lee la ruta y lo trata como arreglo de chars en código UTF-16
            try{
                var block = window.atob(text).split(',');
            }
            catch(e){
                alert("Por favor, introduzca un código válido para descifrar.");
                return;
            }
            
            //Generar llave de 32 bytes (para AES-256) a partir de password
            var password = document.getElementById("password").value;

            if (password.length > 32) {
                password = password.substring(0,32);
            }
            
            var key = new Array(32);
            
            for(var i = 0;i<password.length;i++) {
                key[i] = password.charAt(i).charCodeAt(0);
            }

            AES_ExpandKey(key);
            
            //Descifra
            AES_Decrypt(block, key);
            
            var decryptedText = "";
            for (var i = 0;i<block.length;i++) {
                decryptedText += String.fromCharCode(block[i]);
            }
            
            //escribirArchivo(decryptedText);
            
            //Finaliza
            AES_Done();
            guardaArchivo(decryptedText)
            alert("Descifrado realizado con éxito.")
        }
    </script>
    <script>
        function guardaArchivo(text) {
            $.ajax({
                type: "POST",
                url: "/write",
                data: { "action":"descifrar",
                        "name":document.getElementById('archivo').files[0].name,
                        "text":text,
                        "origen":document.getElementById('ruta').value == ""? document.getElementById('archivo').files[0].webkitRelativePath : document.getElementById('ruta').value,
                        "borrar":document.getElementById("borrar").checked?"True":"False",
                        "destino":document.getElementById('destino').value
                }
            }).done(function( o ) {
            });
        }
    </script>
    <script>
        function leerArchivo() {
            let promesa = new Promise((resolve) => {
                var input = document.getElementById('archivo');
                var file = input.files[0];
                var reader = new FileReader();
                reader.addEventListener("loadend",function() {
                    var texto = reader.result;
                    resolve(texto);
                })
                reader.readAsText(file);
            });
            promesa.then(function(e) {
                descifrar(e);
            });
        }
    </script>
    <script>
        function escribirArchivo(text){
            var uri = 'data:application/octet-stream;charset=utf-8,' +encodeURIComponent(text);
            var filename = document.getElementById('archivo').files[0].name;
            var filenameSize = filename.length;
            filename = filename.substring(0,filenameSize-8) + ".txt";
            var link = document.createElement('a');
            if (typeof link.download === 'string') {
                document.body.appendChild(link);
                link.download = filename;
                link.href = uri;
                link.click();
                document.body.removeChild(link);
            } else {
                location.replace(uri);
            }
        }
    </script>
    <script>
        function validar() {
            var text = document.getElementById("password").value;
            
            var longitud = false;
            var minuscula = false;
            var mayuscula = false;
            var digito = false;
            var especial = false;
            
            var input1 = document.getElementById('ruta').value;
            var origen = false;

            var input2 = document.getElementById('destino').value;
            var destino = false;
            
            var input3 = document.getElementById('borrar').checked;
            var borrar = false;
            
            if (text.length > 7) {
                longitud = true;
            }
            
            if (/[a-z]/.test(text)) {
                minuscula = true;
            }
            
            if (/[A-Z]/.test(text)) {
                mayuscula = true;
            }
            
            if (/[0-9]/.test(text)) {
                digito = true;
            }
            
            if (/^[a-zA-Z0-9]*$/.test(text) == false) {
                especial = true;
            }

            if (input1 != input2) {
                unico = true;
            }
            
            if (input1=="") {
                origen = true;
            }else{
                if (input1.indexOf('/') > -1 || input1.indexOf('\\') > -1) {
                    origen = true;
                }
            }
            
            if (input2=="") {
                destino = true;
            }else{
                if (input2.indexOf('/') > -1 || input2.indexOf('\\') > -1) {
                    destino = true;
                }
            }

            if (input3) {
                if (input1 != "") {
                    borrar = true;
                }
            }else{
                borrar = true;
            }
            
            if (longitud && minuscula && mayuscula && digito && especial && origen && destino && borrar) {
                leerArchivo();
            }
            else{
                if (!origen) {
                    alert("Escriba una ruta de archivo válida.\nEj.\n/Users/.../archivo.txt\nC:\\...\\archivo.txt");
                }else{
                    if (!destino) {
                        alert("Escriba una ruta de destino válida.\nEj.\n/Users/.../Desktop\nC:\\...\\Desktop");
                    }else{
                        if (!borrar) {
                            alert("Para borrar un archivo escriba su ruta completa.\nEj.\n/Users/.../archivo.txt\nC:\\...\\archivo.txt");
                        }else{
                            alert("La contraseña debe ser de una longitud mínima de 8 caracteres, y debe incluir una letra minúscula, una mayúscula, un digito y un carácter especial");
                        }
                    }
                }
            }
        }
    </script>
    <script>
        function desplegar() {
            "use strict";
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <script>
        function mostrar() {
            "use strict";
            var x = document.getElementById("borrar-instruccion");
            var y = document.getElementById("borrar");
            if (y.checked) {
                x.style.display = "inline";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</body>
</html>