<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div id="indexmenu">
            <h1>Cifrado y descifrado AES-256</h1>
            <h2 class="my-2">Seleccione una acción</h2>
            <div id="accion1">
                <button class="btn btn-primary my-2 accion" onclick="location.href = '/cifra-texto';">Cifrar texto</button>
                <button class="btn btn-primary my-2 accion" onclick="location.href = '/descifra-texto';">Descifrar texto</button>
            </div>
            <br>
            <div id="accion2">
                <button class="btn btn-primary my-2 accion" onclick="location.href = '/cifra-archivo';">Cifrar archivo</button>
                <button class="btn btn-primary my-2 accion" onclick="location.href = '/descifra-archivo';">Descifrar archivo</button>
            </div>
        </div>
    </div>
</body>
</html>